/********** Hero Section **********/
#hero-section {}

.hero-section {
    height: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-image: url('../img/components/hero/back.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 120px;
}

.hero-section.container-fluid {}

.hero-section .container {}

.hero-section .row {}

.hero-section .column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero-section h1 {
    width: 100%;
    max-width: 547px;
    display: block;
    font-size: 35.5px;
    font-weight: 800;
    line-height: 57px;
    text-align: center;
    color: var(--color-blue-gray-5);
}

.hero-section p {
    width: 100%;
    max-width: 658px;
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -1px;
    text-align: center;
    color: var(--color-blue-gray-10);
}

/********** Approach Section **********/
#approach-section {}

.approach-section {
    background-color: var(--color-hardware-5);
}

.approach-section.container-fluid {}

.approach-section .container {}

.approach-section .tab-nav-container {}

.approach-section .tab-content-container {
    position: relative;
    top: -75px;
}

.approach-section .row {
    position: relative;
}

.approach-section .column {}

.approach-section .row.tab-nav-row .column {}

.approach-section .row.tab-content-row .column {}

.approach-section .swiper {
    top: -140px;
    z-index: 3;
}

.approach-section .swiper-button-next {
    top: 75px;
    right: -50px;
    left: auto;
    font-weight: bold;
}

.approach-section .swiper-button-prev {
    top: 75px;
    left: -50px;
    right: auto;
    font-weight: bold;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 22px;
    color: var(--color-blue-gray);
}

.approach-section .swiper-wrapper {
    margin-bottom: 20px;
}

.approach-section .swiper-slide {
    /* height: 349px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-top: 5px solid transparent;
    /* border-bottom: 5px solid transparent; */
    /* margin-bottom: 30px; */
}

.approach-section .swiper-slide.hardware {
    border-top-color: var(--color-hardware);
}

.approach-section .swiper-slide.intercom {
    border-top-color: var(--color-intercom);
}

.approach-section .swiper-slide.software {
    border-top-color: var(--color-software-m);
}

.approach-section .swiper-slide.secondary {
    border-top-color: var(--color-secondary-light-30);
}

.approach-section .swiper-slide-active {
    border-top-color: var(--color-gray-10) !important;
}

.approach-section .swiper-slide-active::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: 5px;
    left: 25px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: transparent;
    z-index: -1;
}

.approach-section .swiper-slide-active.hardware::after {
    background-color: var(--color-hardware);
}

.approach-section .swiper-slide-active.intercom::after {
    background-color: var(--color-intercom);
}

.approach-section .swiper-slide-active.software::after {
    background-color: var(--color-software-m);
}

.approach-section .swiper-slide-active.secondary::after {
    background-color: var(--color-secondary-light-30);
}

.approach-section .swiper-slide-active::before {
    content: "";
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: 16px;
    left: 0;
    border-bottom: 5px solid transparent;
    z-index: 0;
}

.approach-section .swiper-slide-active.hardware::before {
    border-bottom-color: var(--color-hardware) !important;
}

.approach-section .swiper-slide-active.intercom::before {
    border-bottom-color: var(--color-intercom) !important;
}

.approach-section .swiper-slide-active.software::before {
    border-bottom-color: var(--color-software-m) !important;
}

.approach-section .swiper-slide-active.secondary::before {
    border-bottom-color: var(--color-secondary-light-30) !important;
}

.approach-section .swiper-slide .head {
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 500;
    line-height: 33.35px;
    letter-spacing: -0.5px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--color-gray-90);
    background: linear-gradient(0deg, var(--color-gray-10, #F8F8F8), var(--color-gray-10, #F8F8F8)), linear-gradient(0deg, var(--color-white, #FFFFFF), var(--color-white, #FFFFFF));
    padding: 32px 54px 32px 54px;
    margin: 0;
}

.approach-section .swiper-slide img {
    display: block;
    width: 100%;
    height: 205px;
    object-fit: cover;
    object-position: top;
}

.approach-section .tab-content {
    display: none;
}

.approach-section .tab-content.show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
}

.approach-section .title {
    width: calc(50% - 170px);
    position: relative;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    text-align: right;
    color: var(--color-blue-gray);
}

.approach-section .title::after {
    content: "";
    width: 60px;
    height: 5px;
    position: absolute;
    bottom: -35px;
    right: 0;
    background-color: transparent;
}

.approach-section .title.hardware::after {
    background-color: var(--color-hardware);
}

.approach-section .title.intercom::after {
    background-color: var(--color-intercom);
}

.approach-section .title.software::after {
    background-color: var(--color-software);
}

.approach-section .title.secondary::after {
    background-color: var(--color-secondary-light-90);
}

.approach-section .desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.approach-section .subtitle {
    width: calc(100% - 170px);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: right;
    color: var(--color-blue-gray);
}

.approach-section p {
    width: 100%;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -1px;
    text-align: justify;
    color: var(--color-blue-gray-70);
}

.approach-section .more {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    text-align: right;
}

.approach-section .more.hardware {
    color: var(--color-hardware);
}

.approach-section .more.intercom {
    color: var(--color-intercom);
}

.approach-section .more.software {
    color: var(--color-software);
}

.approach-section .more.secondary {
    color: var(--color-secondary-light-90);
}

/* Responsive Max-width */
@media (max-width: 1199.98px) {

    .approach-section .tab-content.show {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 60px;
    }

    .approach-section .title {
        width: 100%;
    }

    .approach-section .title::after {
        bottom: -15px;
    }

    .approach-section .desc {
        width: 100%;
    }

    .approach-section .subtitle {
        width: 100%;
    }

}

/********** Project Section **********/
#project-section {}

.project-section {
    background-color: var(--color-white);
    padding-top: 56px;
    padding-bottom: 56px;
}

.project-section.container-fluid {}

.project-section .container {}

.project-section .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
    gap: 50px;
}

.project-section .column {}

.project-section .head {
    width: 100%;
    display: inline-block;
    position: relative;
    font-size: 26px;
    font-weight: 800;
    line-height: 60px;
    text-align: right;
    color: var(--color-blue-gray);
}

.project-section .head::after {
    content: "";
    width: 275px;
    height: 0.5px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--color-blue-gray-80);
}

.project-section .link {
    margin: 0 auto;
}

/********** Clients Section **********/
#clients-section {}

.clients-section {
    background-color: var(--color-blue-gray-5);
    padding-top: 64px;
    padding-bottom: 64px;
    margin-top: 45px;
}

.clients-section.container-fluid {}

.clients-section .container {}

.clients-section .row {}

.clients-section .column {}

.clients-section .scroll-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    /* box-shadow: 0 1px 8px rgba(26,26,26,.12); */
}

.clients-section .scroll-parent {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100px;
    overflow-x: hidden;
}

/* .clients-section .scroll-parent::before {
    content: "";
    width: 100px;
    height: 100%;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
    filter: blur(25px);
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
} */

/* .clients-section .scroll-parent::after {
    content: "";
    width: 100px;
    height: 100%;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
    filter: blur(25px);
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
} */

.clients-section .scroll-element {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.clients-section .scroll-element img {
    width: auto;
    max-width: 250px;
    height: auto;
    max-height: 100px;
    cursor: pointer;
    filter: grayscale(1);
}

.clients-section .scroll-element img:hover {
    filter: grayscale(0);
}

.clients-section .primary {
    animation: primaryScroll 30s linear infinite;
}

.clients-section .secondary {
    animation: secondaryScroll 30s linear infinite;
}

@keyframes primaryScroll {
    from {
        left: 0%;
    }

    to {
        left: -100%;
    }
}

@keyframes secondaryScroll {
    from {
        left: 100%;
    }

    to {
        left: 0%;
    }
}

/********** Blog Section **********/
#blog-section {}

.blog-section {
    padding-top: 33px;
    padding-bottom: 33px;
}

.blog-section.container-fluid {}

.blog-section .container {}

.blog-section .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
    gap: 25px;
}

.blog-section .column {}

.blog-section .head {
    width: 100%;
    display: inline-block;
    position: relative;
    font-size: 26px;
    font-weight: 800;
    line-height: 60px;
    text-align: right;
    color: var(--color-blue-gray);
}

/********** Products Desc Section **********/
#products-desc-section {}

.products-desc-section {
    margin-top: 68px;
}

.products-desc-section.container-fluid {}

.products-desc-section .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 59px;
}

.products-desc-section .row {}

.products-desc-section .heading-row {}

.products-desc-section .content-row {}

.products-desc-section .column {}

.products-desc-section .heading-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    position: relative;
}

.products-desc-section .heading-column::after {
    content: "";
    width: 62px;
    height: 5px;
    position: absolute;
    bottom: -30px;
    right: 12px;
    background-color: var(--color-hardware);
}

.products-desc-section .content-column {}

.products-desc-section .title {
    width: 100%;
    display: block;
    font-size: 32px;
    font-weight: 900;
    line-height: 38.4px;
    text-align: right;
    color: var(--color-blue-gray);
}

.products-desc-section .subtitle {
    width: 100%;
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: right;
    color: var(--color-blue-gray-80);
}

.products-desc-section .desc {
    width: 100%;
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    text-align: justify;
    padding-left: 97px;
}

.products-desc-section img {
    width: 100%;
    height: auto;
    text-align: left;
    border-radius: 7px;
    box-shadow: 27px 31px 32px -15px #324EEF38;
}

/* Responsive Max-width */
@media (max-width: 1199.98px) {

    .products-desc-section .desc {
        padding-left: 0;
    }

}

/********** Products Card Section **********/
#products-card-section {}

.products-card-section {
    margin-top: 87px;
}

.products-card-section.container-fluid {}

.products-card-section .container {}

.products-card-section .row {}

.products-card-section .column {}

/********** Product Desc Section **********/
#product-desc-section {}

.product-desc-section {
    margin-top: 68px;
}

.product-desc-section.container-fluid {}

.product-desc-section .container {}

.product-desc-section .row {}

.product-desc-section .column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
}

.product-desc-section .title {
    width: 100%;
    display: block;
    font-size: 32px;
    font-weight: 700;
    line-height: 54.4px;
    text-align: right;
    color: var(--color-blue-gary);
    border-bottom: 1px solid var(--color-secondary-light-15);
    padding-bottom: 24px;
}

.product-desc-section .desc {
    width: 100%;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: justify;
    color: var(--color-blue-gary);
    border-bottom: 1px solid var(--color-secondary-light-15);
    padding-bottom: 24px;
    margin-bottom: 0;
}

/********** Product Tabs Section **********/
#product-tabs-section {}

.product-tabs-section {
    margin-top: 87px;
}

.product-tabs-section.container-fluid {}

.product-tabs-section .container {}

.product-tabs-section .row {}

.product-tabs-section .column {}

/********** Product Related Section **********/
#product-related-section {}

.product-related-section {
    margin-top: 87px;
}

.product-related-section.container-fluid {}

.product-related-section .container {}

.product-related-section .row {}

.product-related-section .column {}

.product-related-section .title {
    width: 100%;
    display: block;
    font-size: 26px;
    font-weight: 800;
    line-height: 60px;
    text-align: right;
    color: var(--color-blue-gray);
    margin-bottom: 43px;
}

/********** Posts Cat Section **********/
#posts-cat-section {}

.posts-cat-section {
    margin-top: 68px;
}

.posts-cat-section.container-fluid {}

.posts-cat-section .container {}

.posts-cat-section .row {}

.posts-cat-section ul.categories {
    width: 100%;
    /* min-width: 1200px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
    /* overflow-x: scroll; */
    padding: 0;
}

.posts-cat-section ul.categories::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.posts-cat-section ul.categories li {
    width: auto;
    min-width: max-content;
    display: inline-block;
}

.posts-cat-section ul.categories a {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    color: var(--color-blue-gray);
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-30);
    border-radius: 8px;
    box-shadow: 4px 6px 13px 0px #D7D7D740;
    padding: 6px 12px 6px 12px;
}

.posts-cat-section ul.categories svg {
    width: 23px;
    height: auto;
}

/********** Posts Sticky Card Section **********/
#posts-sticky-card-section {}

.posts-sticky-card-section {
    /* margin-top: 87px; */
    margin-top: 32px;
}

.posts-sticky-card-section.container-fluid {}

.posts-sticky-card-section .container {}

.posts-sticky-card-section .row {}

.posts-sticky-card-section .column {}

/********** Posts Card Section **********/
#posts-card-section {}

.posts-card-section {
    /* margin-top: 87px; */
    margin-top: 49px;
}

.posts-card-section.container-fluid {}

.posts-card-section .container {}

.posts-card-section .row {}

.posts-card-section .column {}

.posts-card-section .heading-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 32px;
}

.posts-card-section .head {
    width: auto;
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    color: var(--color-blue-gray);
}

.posts-card-section .pagination {
    width: auto;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: var(--color-gray-80);
    background-color: var(--color-gray-10);
    border-radius: 4px;
    padding: 6px 14px 6px 14px;
}

/********** Post Desc Section **********/
#post-desc-section {}

.post-desc-section {
    margin-top: 68px;
}

.post-desc-section.container-fluid {}

.post-desc-section .container {}

.post-desc-section .row {}

.post-desc-section .column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.post-desc-section .category {
    width: auto;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: var(--color-secondary-light-90);
    background-color: var(--color-secondary-light-5);
    border-radius: 6px;
    padding: 4px 10px 4px 10px;
    margin-bottom: 16px;
}

.post-desc-section .title {
    width: 100%;
    display: block;
    font-size: 28px;
    font-weight: 800;
    line-height: 30px;
    text-align: right;
    color: var(--color-blue-gray);
}

.post-desc-section .date {
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: var(--color-blue-gray-70);
    margin-top: 18px;
}

.post-desc-section img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    text-align: center;
    border-radius: 6px;
    margin: 46px auto 0;
}

.post-desc-section .desc {
    width: 100%;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: justify;
    color: var(--color-blue-gray-80);
    margin-top: 61px;
}

.post-desc-section ul.share {
    width: 100%;
    /* max-width: 100px; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 0;
    list-style-type: none;
}

.post-desc-section ul.share li {}

.post-desc-section ul.share a {}

/********** Post Related Section **********/
#post-related-section {}

.post-related-section {
    margin-top: 87px;
}

.post-related-section.container-fluid {}

.post-related-section .container {}

.post-related-section .row {}

.post-related-section .column {}

.post-related-section .title {
    width: 100%;
    display: block;
    font-size: 26px;
    font-weight: 800;
    line-height: 60px;
    text-align: right;
    color: var(--color-blue-gray);
    margin-bottom: 43px;
}
















/********** Buttons Component **********/
.link {
    width: auto;
    height: auto;
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
}

.btn {
    width: auto;
    min-width: 163px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    text-align: right;
    border-radius: 32px;
    padding: 4px 24px 4px 24px;
}

.btn-loadmore {
    width: auto;
    min-width: 104px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: var(--color-blue-gray-90);
    border-radius: 8px;
    border: 1px solid var(--color-blue-gray-70);
    background-color: var(--color-white);
    padding: 8px 20px 8px 20px;
}

.btn-loadmore svg path {
    /* fill: var(--color-blue-gray-90); */
}

.btn.btn-color-secondary {
    color: var(--color-secondary);
    background-color: var(--color-blue-gray-10);
}

.btn.btn-color-secondary svg path {
    fill: var(--color-secondary);
}

.btn.btn-color-secondary-15 {
    color: var(--color-secondary-light-90);
    background-color: var(--color-secondary-light-15);
}

.btn.btn-color-secondary-15 svg path {
    fill: var(--color-secondary-light-90);
}

.btn.btn-color-hardware {
    color: var(--color-white);
    background-color: var(--color-hardware);
}

.btn.btn-color-hardware svg path {
    fill: var(--color-white);
}

/********** Tab Component **********/
.nav:not(.megamenu *) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    overflow-x: scroll;
    border-bottom: 1px solid var(--color-secondary-light-15);
    padding-bottom: 10px;
}

.nav:not(.megamenu *)::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.nav-item:not(.megamenu *) {
    display: inline-block;
    min-width: max-content;
}

.nav-link:not(.megamenu *) {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    color: var(--color-gray-75);
    border: 1px solid var(--color-gray-75);
    border-radius: 50px !important;
    padding: 8px 16px 8px 16px;
}

.nav-link.active:not(.megamenu *) {
    color: var(--color-secondary-light-90) !important;
    background-color: var(--color-white) !important;
    border-color: var(--color-secondary-light-90) !important;
}

.tab-content {}

.tab-pane {
    width: 100%;
    display: block;
    font-size: 17px;
    font-weight: 500;
    line-height: 35.7px;
    text-align: justify;
    color: var(--color-blue-gray);
    padding: 24px 0;
}

.tab-pane.active {}

/********** Gallery Component **********/
.gallery-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    gap: 20px;
    position: relative;
}

.gallery-main {
    width: calc(100% - 135px);
    height: 300px;
    text-align: left;
}

.gallery-main .swiper-slide {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.gallery-main .swiper-slide img {
    width: auto;
    max-width: 100%;
    cursor: zoom-in;
}

.gallery-main .swiper-button-prev,
.gallery-main .swiper-button-next {
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
    left: auto;
    height: 75px;
    width: 40px;
    color: #e9e9e9;
    background: #1e1e1e;
}

.gallery-main .swiper-button-prev::after,
.gallery-main .swiper-button-next::after {
    font-size: 12px;
}

.gallery-main .swiper-button-prev {
    right: 40px;
    border-right: 1px solid #e9e9e9;
}

.gallery-thumbs {
    width: 100px;
    height: 300px;
    /* order: -1; */
    margin-left: 15px;
    /* padding-right: 15px; */
}

.gallery-thumbs .swiper-wrapper {
    gap: 10px;
}

.gallery-thumbs .swiper-slide {
    border: 0.5px solid var(--color-blue-gray-70);
    border-radius: 4px;
}

.gallery-thumbs .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.3s;
    border-radius: 4px;
}

.gallery-thumbs .swiper-slide-active {
    opacity: 0.9;
    border-color: var(--color-secondary);
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.gallery-thumbs .swiper-slide-thumb-active img {
    /* margin-right: -15px; */
}

@-webkit-keyframes slide-in {
    from {
        opacity: 0;
        right: -50%;
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        right: -50%;
    }
}

/* Responsive Max-width */
@media (max-width: 1199.98px) {

    .gallery-container {
        flex-direction: column;
        margin-top: 50px;
    }

    .gallery-main {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .gallery-thumbs {
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-left: 0;
    }

    .gallery-thumbs .swiper-wrapper {
        width: 100px;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
    }

}

/********** Home Project Card Component **********/
.home-project-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.home-project-card:nth-child(even) {
    flex-direction: row-reverse;
    margin-top: 50px;
}

.home-project-card .content {
    width: calc(50% - 50px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.home-project-card .category {
    width: 100%;
    display: block;
    font-size: 16px;
    font-weight: 800;
    line-height: 30px;
    text-align: right;
    color: var(--color-secondary);
}

.home-project-card .title {
    width: 100%;
    display: block;
    font-size: 28px;
    font-weight: 800;
    line-height: 44px;
    text-align: right;
    color: var(--color-blue-gray);
}

.home-project-card .desc {
    width: 100%;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    color: var(--color-blue-gray-70);
}

.home-project-card img {
    width: 50%;
    height: 300px;
    object-fit: cover;
    object-position: top center;
}

/* Responsive Max-width */
@media (max-width: 991.98px) {

    .home-project-card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }

    .home-project-card .content {
        width: 100%;
    }

    .home-project-card img {
        width: 100%;
    }

}

/********** Home Blog Card Component **********/
.home-blog-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}

.home-blog-card .main-card {
    width: calc(60% - 20px);
    height: 444px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-end;
    align-items: stretch;
    position: relative;
    gap: 20px;
    padding: 54px;
}

.home-blog-card .main-card::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 6px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(360deg, rgba(35, 31, 32, 0.75) 31.08%, rgba(35, 31, 32, 0) 85.68%);
    z-index: 2;
}

.home-blog-card .main-card img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    object-position: top center;
    border-radius: 6px;
    z-index: 1;
}

.home-blog-card .main-card .title {
    width: 100%;
    display: block;
    font-size: 36px;
    font-weight: 900;
    line-height: 50.4px;
    letter-spacing: -1px;
    text-align: right;
    color: var(--color-blue-gray-10);
    z-index: 3;
}

.home-blog-card .main-card .more {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-align: right;
    color: var(--color-blue-gray-5);
    z-index: 3;
}

.home-blog-card .main-card svg {}

.home-blog-card .list-card {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.home-blog-card .list-card .card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    gap: 14px;
    border-bottom: 1px solid var(--color-gray-30);
    padding-bottom: 8px;
}

.home-blog-card .list-card img {
    width: 96px;
    height: 96px;
    object-fit: cover;
    object-position: top center;
    border-radius: 6px;
}

.home-blog-card .list-card .content {
    width: calc(100% - 110px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 10px 0;
}

.home-blog-card .list-card .date {
    width: 100%;
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    text-align: right;
    color: var(--color-blue-gray-70);
}

.home-blog-card .list-card .title {
    width: 100%;
    display: block;
    font-size: 19px;
    font-weight: 500;
    line-height: 22.8px;
    text-align: right;
    color: var(--color-blue-gray-90);
}

/* Responsive Max-width */
@media (max-width: 991.98px) {

    .home-blog-card {
        flex-direction: column;
    }

    .home-blog-card .main-card {
        width: 100%;
    }

    .home-blog-card .list-card {
        width: 100%;
    }

}

/********** Product Card Component **********/
.product-card {
    width: 100%;
    /* max-height: 463px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
    gap: 25px;
    border-radius: 8px;
    background-color: var(--color-gray-10);
    padding: 32px;
}

.product-card img {
    width: 100%;
    height: 165px;
    display: block;
    object-fit: contain;
    text-align: center;
}

.product-card .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.product-card .title {
    height: 72px;
    font-size: 21px;
    font-weight: 700;
    line-height: 35.7px;
    text-align: right;
    color: var(--color-gray-80);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-card .category {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 25.5px;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.product-card .more {
    width: auto;
    height: auto;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    color: var(--color-blue-gray-80);
    border: 1px solid var(--color-blue-gray-80);
    border-radius: 50px;
    padding: 8px 16px;
    margin: 15px auto 0 0;
}

.product-card .btn {
    color: var(--color-secondary);
    background-color: var(--color-blue-gray-10);
}

/********** Posts Sticky Card Component **********/
.post-sticky-card {
    width: 100%;
    /* max-height: 463px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
    gap: 25px;
    background-color: var(--color-blue-gray-5);
    border-radius: 12px;
    padding: 48px;
}

.post-sticky-card img {
    width: 100%;
    max-width: 360px;
    /* height: 215px; */
    display: block;
    object-fit: cover;
    text-align: center;
    border-radius: 6px;
}

.post-sticky-card .content {
    width: calc(100% - 385px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.post-sticky-card .category {
    width: auto;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: var(--color-secondary-light-90);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    background-color: var(--color-secondary-light-5);
    border-radius: 6px;
    padding: 4px 10px 4px 10px;
}

.post-sticky-card .title {
    width: 100%;
    height: 30px;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    text-align: right;
    color: var(--color-blue-gray);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 0;
}

.post-sticky-card .desc {
    width: 100%;
    height: 66px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--color-blue-gray-80);
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    margin: 0;
}

.post-sticky-card .date {
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: var(--color-blue-gray-70);
}

/* Responsive Max-width */
@media (max-width: 991.98px) {

    .post-sticky-card {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        border: 1px solid var(--color-secondary-light-5);
        padding: 16px;
    }

    .post-sticky-card img {
        max-width: 100%;
        height: 215px;
    }

    .post-sticky-card .content {
        width: 100%;
    }

}

/********** Posts Card Component **********/
.post-card {
    width: 100%;
    /* max-height: 463px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
    gap: 25px;
    background-color: var(--color-white);
    border: 1px solid var(--color-secondary-light-5);
    border-radius: 12px;
    padding: 16px;
}

.post-card img {
    width: 100%;
    height: 215px;
    display: block;
    object-fit: cover;
    text-align: center;
    border-radius: 6px;
}

.post-card .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.post-card .category {
    width: auto;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: var(--color-secondary-light-90);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    background-color: var(--color-secondary-light-5);
    border-radius: 6px;
    padding: 4px 10px 4px 10px;
}

.post-card .title {
    width: 100%;
    height: 60px;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    text-align: right;
    color: var(--color-blue-gray);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
}

.post-card .desc {
    width: 100%;
    height: 88px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--color-blue-gray-80);
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    margin: 0;
}

.post-card .date {
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: var(--color-blue-gray-70);
}