/* Register Font Family */
@font-face {
    font-family: "iransans";
    src: url('../font/iransans.eot');
    /* IE9 Compat Modes */
    src: url('../font/iransans.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../font/iransans.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/iransans.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../font/iransansr.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../font/iransans.svg#svgFontName') format('svg');
    /* Legacy iOS */
    font-weight: 400;
}


@font-face {
    font-family: "IRANSansXFaNum";
    /* IE9 Compat Modes */
    src: url('../font/IranSansX(Pro)/Farsi numerals/Webfonts/Woff2/IRANSansXFaNum-Thin.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/IranSansX(Pro)/Farsi numerals/Webfonts/Woff/IRANSansXFaNum-Thin.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 100;
}

@font-face {
    font-family: "IRANSansXFaNum";
    /* IE9 Compat Modes */
    src: url('../font/IranSansX(Pro)/Farsi numerals/Webfonts/Woff2/IRANSansXFaNum-UltraLight.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/IranSansX(Pro)/Farsi numerals/Webfonts/Woff/IRANSansXFaNum-UltraLight.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 200;
}

@font-face {
    font-family: "IRANSansXFaNum";
    /* IE9 Compat Modes */
    src: url('../font/IranSansX(Pro)/Farsi numerals/Webfonts/Woff2/IRANSansXFaNum-Light.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/IranSansX(Pro)/Farsi numerals/Webfonts/Woff/IRANSansXFaNum-Light.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 300;
}

@font-face {
    font-family: "IRANSansXFaNum";
    /* IE9 Compat Modes */
    src: url('../font/IranSansX(Pro)/Farsi numerals/Webfonts/Woff2/IRANSansXFaNum-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/IranSansX(Pro)/Farsi numerals/Webfonts/Woff/IRANSansXFaNum-Regular.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 400;
}

@font-face {
    font-family: "IRANSansXFaNum";
    /* IE9 Compat Modes */
    src: url('../font/IranSansX(Pro)/Farsi numerals/Webfonts/Woff2/IRANSansXFaNum-Medium.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/IranSansX(Pro)/Farsi numerals/Webfonts/Woff/IRANSansXFaNum-Medium.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 500;
}

@font-face {
    font-family: "IRANSansXFaNum";
    /* IE9 Compat Modes */
    src: url('../font/IranSansX(Pro)/Farsi numerals/Webfonts/Woff2/IRANSansXFaNum-DemiBold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/IranSansX(Pro)/Farsi numerals/Webfonts/Woff/IRANSansXFaNum-DemiBold.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 600;
}

@font-face {
    font-family: "IRANSansXFaNum";
    /* IE9 Compat Modes */
    src: url('../font/IranSansX(Pro)/Farsi numerals/Webfonts/Woff2/IRANSansXFaNum-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/IranSansX(Pro)/Farsi numerals/Webfonts/Woff/IRANSansXFaNum-Bold.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 700;
}

@font-face {
    font-family: "IRANSansXFaNum";
    /* IE9 Compat Modes */
    src: url('../font/IranSansX(Pro)/Farsi numerals/Webfonts/Woff2/IRANSansXFaNum-ExtraBold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/IranSansX(Pro)/Farsi numerals/Webfonts/Woff/IRANSansXFaNum-ExtraBold.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 800;
}

@font-face {
    font-family: "IRANSansXFaNum";
    /* IE9 Compat Modes */
    src: url('../font/IranSansX(Pro)/Farsi numerals/Webfonts/Woff2/IRANSansXFaNum-Black.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/IranSansX(Pro)/Farsi numerals/Webfonts/Woff/IRANSansXFaNum-Black.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 900;
}


@font-face {
    font-family: "IRANSansX";
    /* IE9 Compat Modes */
    src: url('../font/IranSansX(Pro)/Webfonts/fonts/woff2/IRANSansX-Thin.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/IranSansX(Pro)/Webfonts/fonts/woff/IRANSansX-Thin.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 100;
}

@font-face {
    font-family: "IRANSansX";
    /* IE9 Compat Modes */
    src: url('../font/IranSansX(Pro)/Webfonts/fonts/woff2/IRANSansX-UltraLight.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/IranSansX(Pro)/Webfonts/fonts/woff/IRANSansX-UltraLight.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 200;
}

@font-face {
    font-family: "IRANSansX";
    /* IE9 Compat Modes */
    src: url('../font/IranSansX(Pro)/Webfonts/fonts/woff2/IRANSansX-Light.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/IranSansX(Pro)/Webfonts/fonts/woff/IRANSansX-Light.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 300;
}

@font-face {
    font-family: "IRANSansX";
    /* IE9 Compat Modes */
    src: url('../font/IranSansX(Pro)/Webfonts/fonts/woff2/IRANSansX-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/IranSansX(Pro)/Webfonts/fonts/woff/IRANSansX-Regular.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 400;
}

@font-face {
    font-family: "IRANSansX";
    /* IE9 Compat Modes */
    src: url('../font/IranSansX(Pro)/Webfonts/fonts/woff2/IRANSansX-Medium.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/IranSansX(Pro)/Webfonts/fonts/woff/IRANSansX-Medium.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 500;
}

@font-face {
    font-family: "IRANSansX";
    /* IE9 Compat Modes */
    src: url('../font/IranSansX(Pro)/Webfonts/fonts/woff2/IRANSansX-DemiBold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/IranSansX(Pro)/Webfonts/fonts/woff/IRANSansX-DemiBold.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 600;
}

@font-face {
    font-family: "IRANSansX";
    /* IE9 Compat Modes */
    src: url('../font/IranSansX(Pro)/Webfonts/fonts/woff2/IRANSansX-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/IranSansX(Pro)/Webfonts/fonts/woff/IRANSansX-Bold.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 700;
}

@font-face {
    font-family: "IRANSansX";
    /* IE9 Compat Modes */
    src: url('../font/IranSansX(Pro)/Webfonts/fonts/woff2/IRANSansX-ExtraBold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/IranSansX(Pro)/Webfonts/fonts/woff/IRANSansX-ExtraBold.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 800;
}

@font-face {
    font-family: "IRANSansX";
    /* IE9 Compat Modes */
    src: url('../font/IranSansX(Pro)/Webfonts/fonts/woff2/IRANSansX-Black.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/IranSansX(Pro)/Webfonts/fonts/woff/IRANSansX-Black.woff') format('woff');
    /* Pretty Modern Browsers */
    font-weight: 900;
}


/* Kit Styles */
:root {
    --main-font: "IRANSansXFaNum";
    --secondary-font: "IRANSansXFaNum";

    --color-black: #000;
    --color-white: #fff;

    --color-secondary: #0966AF;
    --color-secondary-light-90: #0C7FDA;
    --color-secondary-light-40: #1E99FC;
    --color-secondary-light-30: #00A7E1;
    --color-secondary-light-15: #D8ECFD;
    --color-secondary-light-5: #E9F1FA;

    --color-error: #D71920;
    --color-error-light-90: #DB3037;
    --color-error-light-30: #F3BABD;
    --color-error-light-15: #F9DDDE;
    --color-error-light-5: #FDF4F4;

    --color-gray: #141414;
    --color-gray-90: #2B2B2B;
    --color-gray-80: #606061;
    --color-gray-75: #989898;
    --color-gray-70: #BABABA;
    --color-gray-30: #DCDDDF;
    --color-gray-10: #F8F8F8;

    --color-blue-gray: #333F49;
    --color-blue-gray-90: #4B515A;
    --color-blue-gray-80: #71727B;
    --color-blue-gray-70: #8E939B;
    --color-blue-gray-10: #EFF2F4;
    --color-blue-gray-5: #F7F7F8;

    --color-contact-back: #D1DAE0;

    --color-hardware: #324EEF;
    --color-hardware-30: #6A7FF4;
    --color-hardware-20: #E7EBF8;
    --color-hardware-15: #E3ECFE;
    --color-hardware-10: #EFF4FE;
    --color-hardware-5: #F8FAFF;

    --color-software: #009390;
    --color-software-m: #01AEBC;
    --color-software-20: #DBF0F2;
    --color-software-15: #F2F9F8;
    --color-software-10: #EEF8F9;

    --color-intercom: #F4701E;
    --color-intercom-20: #FEEBE0;
    --color-intercom-15: #FFF1E9;
    --color-intercom-10: #FFF9F8;

    --title-font-size: 36px;
    --title-font-weight: 900;
    --title-line-height: 64px;

    --subtitle-font-size: 16px;
    --subtitle-font-weight: 400;
    --subtitle-line-height: 30px;

    --head-font-size: 17px;
    --head-font-weight: 700;
    --head-line-height: 20px;

    --default-font-size: 16px;
    --default-font-weight: 400;
    --default-line-height: 27px;

    --p-font-size: 16px;
    --p-font-weight: 400;
    --p-line-height: 27px;

    --button-font-size: 18px;
    --button-font-weight: 600;
    --button-line-height: 30px;

    --h1-font-size: 28px;
    --h1-font-weight: 700;
    --h1-line-height: 64px;

    --h2-font-size: 26px;
    --h2-font-weight: 700;
    --h2-line-height: 44px;

    --h3-font-size: 20px;
    --h3-font-weight: 700;
    --h3-line-height: 40px;

    --h4-font-size: 16px;
    --h4-font-weight: 700;
    --h4-line-height: 40px;

    --h5-font-size: 16px;
    --h5-font-weight: 700;
    --h5-line-height: 40px;

    --h6-font-size: 16px;
    --h6-font-weight: 700;
    --h6-line-height: 40px;
}

/* Global Styles */
* {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

html {
    font-family: var(--main-font);
    font-size: var(--default-font-size);
    font-weight: var(--default-font-weight);
    line-height: var(--default-line-height);
    color: var(--color-blue-gray-90);
    overflow-x: hidden;
}

body {
    font-family: var(--main-font);
    font-size: var(--default-font-size);
    font-weight: var(--default-font-weight);
    line-height: var(--default-line-height);
    color: var(--color-blue-gray-90);
    overflow-x: hidden;
    padding-top: 78px;
}

body.overly {
    position: relative;
}

body.overly::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba( 0, 0, 0, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 99;
}

.title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    line-height: var(--title-line-height);
    color: var(--color-gray-90)
}

.suptitle {
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weight);
    line-height: var(--subtitle-line-height);
    color: var(--color-blue-gray-90)
}

.subtitle {
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weight);
    line-height: var(--subtitle-line-height);
    color: var(--color-blue-gray-90)
}

.head {
    font-size: var(--head-font-size);
    font-weight: var(--head-font-weight);
    line-height: var(--head-line-height);
    color: var(--color-secondary)
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    line-height: var(--h1-line-height);
    color: var(--color-gray-90)
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    line-height: var(--h2-line-height);
    color: var(--color-gray-90)
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height);
    color: var(--color-gray-90)
}

h4 {
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
    line-height: var(--h4-line-height);
    color: var(--color-gray-90)
}

h5 {
    font-size: var(--h5-font-size);
    font-weight: var(--h5-font-weight);
    line-height: var(--h5-line-height);
    color: var(--color-gray-90)
}

h6 {
    font-size: var(--h6-font-size);
    font-weight: var(--h6-font-weight);
    line-height: var(--h6-line-height);
    color: var(--color-gray-90);
}

p {
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    line-height: var(--p-line-height);
    color: var(--color-blue-gray-90);
}

a {
    text-decoration: none;
}

button {
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    line-height: var(--button-line-height);
    color: var(--color-blue-gray-90);
}

.swiper {
    width: 100%;
    height: 100%;
}

.line-clamp {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


/* Responsive Min-width */
@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

/* Responsive Max-width */
@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}

/* Responsive Single breakpoint */
@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) and (max-width: 1399.98px) {}

@media (min-width: 1400px) {}