/* Register Font Family */
@font-face {
    font-family: "iransans";
    src: url('../font/iransans.eot');
    /* IE9 Compat Modes */
    src: url('../font/iransans.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../font/iransans.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/iransans.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../font/iransansr.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../font/iransans.svg#svgFontName') format('svg');
    /* Legacy iOS */
    font-weight: 200;
}

/* Kit Styles */
:root {
    /* --color-primary: #1D2125;
    --color-second: #CD9300;
    --hover-primary: #1D2125;
    --hover-second: #CD9300;
     */
}

/* Global Styles */
* {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

html {
    font-family: "iransans";
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    overflow-x: hidden;
}

body {
    font-family: "iransans";
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    overflow-x: hidden;
}